---
import Layout from "@layouts/Layout.astro";
import { LearningTags } from "@components/ui/LearningTags.tsx";
import { Image } from "astro:assets";
import AvatarImg from "@assets/avatar.jpeg";
import Card from "@components/Card.astro";

const learning = ["Kubernetes", "Golang"];
const pinned = [
  {
    title: "Dotnix",
    url: "https://github.com/mooyg/dotnix",
    description: "Home manager & NixOS setup with nix :)",
  },
];
---

<Layout>
  <main class="flex justify-center w-full flex-col">
    <div class="flex flex-col gap-2 w-full px-6 mt-10">
      <div class="flex md:flex-row flex-col gap-8 justify-around items-center">
        <div class="flex flex-col gap-2 max-w-2xl">
          <h1 class="text-5xl lg:text-7xl sm:text-6xl font-bold">
            Hey there, I'm <h1
              class="text-5xl lg:text-7xl sm:text-6xl font-bold"
            >
              mooy 👋
            </h1>
          </h1>
          <p class="font-semibold text-lg">
            Building software and solving problems
          </p>
          <div class="mt-2 flex-col flex gap-2">
            <h2 class="text-2xl lg:text-3xl sm:text-4xl font-bold mb-2">
              Stuff I am trying as of now.
            </h2>
            <LearningTags learning={learning} />

            <h2 class="text-2xl lg:text-3xl sm:text-4xl font-bold mb-2">
              Pinned
            </h2>
            {
              pinned.map((p) => {
                return (
                  <Card
                    url={p.url}
                    title={p.title}
                    description={p.description}
                  />
                );
              })
            }
          </div>
        </div>
        <div class="flex flex-col gap-2 items-start justify-center">
          <Image
            draggable="false"
            src={AvatarImg}
            alt="avatar"
            class="rounded-md"
          />
          <div class="mt-4 max-w-md">
            <span>
              <h2
                class="text-2xl lg:text-3xl sm:text-4xl font-bold bg-clip-text bg-gradient-to-r to-ui-tag-blue-icon from-ui-tag-blue-text text-transparent"
              >
                Currently building my homelab
              </h2>
              <p class="font-medium mt-2 text-ui-fg-subtle">
                A kubernetes cluster (using k3s) consisiting of 2 nodes. A
                special GPU node (GTX 1650ti) using my old laptop and a
                Raspberry Pi5. Aiming to public the github repo in the future.
              </p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
